/* 通用样式 */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  text-align: center;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

/* 按钮样式 */
button {
  width: 80%;
  padding: 15px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 1.5em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #45a049;
}

#camera-section, #manual-section {
  display: none;
  margin-top: 20px;
}

#result-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #e0f7fa;
  border-radius: 10px;
}

/* 输入框样式 */
#manual-input {
  width: 80%;
  padding: 10px;
  font-size: 1.2em;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}
